{{ $link := .link }}


<div class="social">
  {{ if $link.website }}
    <a href="{{ $link.website }}" aria-label="Visit website" target="_blank">
      <span class="icon website"></span>
    </a>
  {{ end }}
  {{ if $link.email }}
    <a href="mailto:{{ $link.email }}" aria-label="Send E-mail" target="_blank">
      <span class="icon email"></span>
    </a>
  {{ end }}
  {{ if $link.github }}
    <a
      href="https://github.com/{{ $link.github }}"
      aria-label="GitHub"
      target="_blank"
    >
      <span class="icon github"></span>
    </a>
  {{ end }}
  {{ if $link.twitter }}
    <a
      href="https://x.com/{{ $link.twitter }}"
      aria-label="X (Twitter)"
      target="_blank"
    >
      <span class="icon twitter"></span>
    </a>
  {{ end }}
  {{ if $link.instagram }}
    <a
      href="https://www.instagram.com/{{ $link.instagram }}"
      aria-label="Instagram"
      target="_blank"
    >
      <span class="icon instagram"></span>
    </a>
  {{ end }}
  {{ if $link.facebook }}
    <a href="{{ $link.facebook }}" aria-label="Facebook" target="_blank">
      <span class="icon facebook"></span>
    </a>
  {{ end }}
  {{ if $link.youtube }}
    <a href="{{ $link.youtube }}" aria-label="YouTube" target="_blank">
      <span class="icon youtube"></span>
    </a>
  {{ end }}
</div>
