{{ $data := site.Data.tags.items }}


<div class="widget tags">
  <div class="title">
    <span>タグ</span>
  </div>
  <ul>
    {{ range site.Taxonomies.tags.ByCount }}
      {{ $mapping := index (where $data "en" "eq" .Name) 0 }}
      <li>
        <a href="{{ "tags" | relURL }}/{{ .Name }}">
          <span>
            {{ if $mapping }}
              {{ $mapping.ja }}
            {{ else }}
              {{ .Name }}
            {{ end }}
          </span>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
