/*! github-markdown-css v5.7.0 | MIT License | github.com/sindresorhus/github-markdown-css */

/* 適用範囲を変更 main -> main */
main {
  /* color-scheme: dark; */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: #f0f6fc;
  background-color: #0d1117;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  scroll-behavior: auto !important;
}

main .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

main h1:hover .anchor .octicon-link:before,
main h2:hover .anchor .octicon-link:before,
main h3:hover .anchor .octicon-link:before,
main h4:hover .anchor .octicon-link:before,
main h5:hover .anchor .octicon-link:before,
main h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

main details,
main figcaption,
main figure {
  display: block;
}

main summary {
  display: list-item;
}

main [hidden] {
  display: none !important;
}

main a {
  background-color: transparent;
  color: #4493f8;
  text-decoration: none;
}

main abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

main b,
main strong {
  font-weight: 600;
}

main dfn {
  font-style: italic;
}

main h1 {
  margin: 0.67em 0;
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #3d444db3;
}

main mark {
  background-color: #bb800926;
  color: #f0f6fc;
}

main small {
  font-size: 90%;
}

main sub,
main sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

main sub {
  bottom: -0.25em;
}

main sup {
  top: -0.5em;
}

main img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
}

main code,
main kbd,
main pre,
main samp {
  font-family: monospace;
  font-size: 1em;
}

main figure {
  margin: 1em 2.5rem;
}

main hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid #3d444db3;
  height: 0.25em;
  padding: 0;
  margin: 1.5rem 0;
  background-color: #3d444d;
  border: 0;
}

main input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

main [type="button"],
main [type="reset"],
main [type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

main [type="checkbox"],
main [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

main [type="number"]::-webkit-inner-spin-button,
main [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

main [type="search"]::-webkit-search-cancel-button,
main [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

main ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

main ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

main a:hover {
  text-decoration: underline;
}

main ::placeholder {
  color: #9198a1;
  opacity: 1;
}

main hr::before {
  display: table;
  content: "";
}

main hr::after {
  display: table;
  clear: both;
  content: "";
}

main table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

main td,
main th {
  padding: 0;
}

main details summary {
  cursor: pointer;
}

main a:focus,
main [role="button"]:focus,
main input[type="radio"]:focus,
main input[type="checkbox"]:focus {
  outline: 2px solid #1f6feb;
  outline-offset: -2px;
  box-shadow: none;
}

main a:focus:not(:focus-visible),
main [role="button"]:focus:not(:focus-visible),
main input[type="radio"]:focus:not(:focus-visible),
main input[type="checkbox"]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

main a:focus-visible,
main [role="button"]:focus-visible,
main input[type="radio"]:focus-visible,
main input[type="checkbox"]:focus-visible {
  outline: 2px solid #1f6feb;
  outline-offset: -2px;
  box-shadow: none;
}

main a:not([class]):focus,
main a:not([class]):focus-visible,
main input[type="radio"]:focus,
main input[type="radio"]:focus-visible,
main input[type="checkbox"]:focus,
main input[type="checkbox"]:focus-visible {
  outline-offset: 0;
}

main kbd {
  display: inline-block;
  padding: 0.25rem;
  font:
    11px ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  line-height: 10px;
  color: #f0f6fc;
  vertical-align: middle;
  background-color: #151b23;
  border: solid 1px #3d444db3;
  border-bottom-color: #3d444db3;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #3d444db3;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.25;
}

main h2 {
  font-weight: 600;
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #3d444db3;
}

main h3 {
  font-weight: 600;
  font-size: 1.25em;
}

main h4 {
  font-weight: 600;
  font-size: 1em;
}

main h5 {
  font-weight: 600;
  font-size: 0.875em;
}

main h6 {
  font-weight: 600;
  font-size: 0.85em;
  color: #9198a1;
}

main p {
  margin-top: 0;
  margin-bottom: 10px;
}

main blockquote {
  margin: 0;
  padding: 0 1em;
  color: #9198a1;
  border-left: 0.25em solid #3d444d;
}

main ul,
main ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

main ol ol,
main ul ol {
  list-style-type: lower-roman;
}

main ul ul ol,
main ul ol ol,
main ol ul ol,
main ol ol ol {
  list-style-type: lower-alpha;
}

main dd {
  margin-left: 0;
}

main tt,
main code,
main samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
}

main pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 12px;
  word-wrap: normal;
}

main .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

main input::-webkit-outer-spin-button,
main input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

main .mr-2 {
  margin-right: 0.5rem !important;
}

main::before {
  display: table;
  content: "";
}

main::after {
  display: table;
  clear: both;
  content: "";
}

main > *:first-child {
  margin-top: 0 !important;
}

main > *:last-child {
  margin-bottom: 0 !important;
}

main a:not([href]) {
  color: inherit;
  text-decoration: none;
}

main .absent {
  color: #f85149;
}

main .anchor {
  float: left;
  padding-right: 0.25rem;
  margin-left: -20px;
  line-height: 1;
}

main .anchor:focus {
  outline: none;
}

main p,
main blockquote,
main ul,
main ol,
main dl,
main table,
main pre,
main details {
  margin-top: 0;
  margin-bottom: 1rem;
}

main blockquote > :first-child {
  margin-top: 0;
}

main blockquote > :last-child {
  margin-bottom: 0;
}

main h1 .octicon-link,
main h2 .octicon-link,
main h3 .octicon-link,
main h4 .octicon-link,
main h5 .octicon-link,
main h6 .octicon-link {
  color: #f0f6fc;
  vertical-align: middle;
  visibility: hidden;
}

main h1:hover .anchor,
main h2:hover .anchor,
main h3:hover .anchor,
main h4:hover .anchor,
main h5:hover .anchor,
main h6:hover .anchor {
  text-decoration: none;
}

main h1:hover .anchor .octicon-link,
main h2:hover .anchor .octicon-link,
main h3:hover .anchor .octicon-link,
main h4:hover .anchor .octicon-link,
main h5:hover .anchor .octicon-link,
main h6:hover .anchor .octicon-link {
  visibility: visible;
}

main h1 tt,
main h1 code,
main h2 tt,
main h2 code,
main h3 tt,
main h3 code,
main h4 tt,
main h4 code,
main h5 tt,
main h5 code,
main h6 tt,
main h6 code {
  padding: 0 0.2em;
  font-size: inherit;
}

main summary h1,
main summary h2,
main summary h3,
main summary h4,
main summary h5,
main summary h6 {
  display: inline-block;
}

main summary h1 .anchor,
main summary h2 .anchor,
main summary h3 .anchor,
main summary h4 .anchor,
main summary h5 .anchor,
main summary h6 .anchor {
  margin-left: -40px;
}

main summary h1,
main summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

main ul.no-list,
main ol.no-list {
  padding: 0;
  list-style-type: none;
}

main ol[type="a s"] {
  list-style-type: lower-alpha;
}

main ol[type="A s"] {
  list-style-type: upper-alpha;
}

main ol[type="i s"] {
  list-style-type: lower-roman;
}

main ol[type="I s"] {
  list-style-type: upper-roman;
}

main ol[type="1"] {
  list-style-type: decimal;
}

main div > ol:not([type]) {
  list-style-type: decimal;
}

main ul ul,
main ul ol,
main ol ol,
main ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

main li > p {
  margin-top: 1rem;
}

main li + li {
  margin-top: 0.25em;
}

main dl {
  padding: 0;
}

main dl dt {
  padding: 0;
  margin-top: 1rem;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

main dl dd {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

main table th {
  font-weight: 600;
}

main table th,
main table td {
  padding: 6px 13px;
  border: 1px solid #3d444d;
}

main table td > :last-child {
  margin-bottom: 0;
}

main table tr {
  background-color: #0d1117;
  border-top: 1px solid #3d444db3;
}

main table tr:nth-child(2n) {
  background-color: #151b23;
}

main table img {
  background-color: transparent;
}

main img[align="right"] {
  padding-left: 20px;
}

main img[align="left"] {
  padding-right: 20px;
}

main .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

main span.frame {
  display: block;
  overflow: hidden;
}

main span.frame > span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #3d444d;
}

main span.frame span img {
  display: block;
  float: left;
}

main span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #f0f6fc;
}

main span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

main span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

main span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

main span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

main span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

main span.align-right span img {
  margin: 0;
  text-align: right;
}

main span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

main span.float-left span {
  margin: 13px 0 0;
}

main span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

main span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

main code,
main tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #656c7633;
  border-radius: 6px;
}

main code br,
main tt br {
  display: none;
}

main del code {
  text-decoration: inherit;
}

main samp {
  font-size: 85%;
}

main pre code {
  font-size: 100%;
}

main pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

main .highlight {
  margin-bottom: 1rem;
}

main .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

main .highlight pre,
main pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: #f0f6fc;
  background-color: #151b23;
  border-radius: 6px;
}

main pre code,
main pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

main .csv-data td,
main .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

main .csv-data .blob-num {
  padding: 10px 0.5rem 9px;
  text-align: right;
  background: #0d1117;
  border: 0;
}

main .csv-data tr {
  border-top: 0;
}

main .csv-data th {
  font-weight: 600;
  background: #151b23;
  border-top: 0;
}

main [data-footnote-ref]::before {
  content: "[";
}

main [data-footnote-ref]::after {
  content: "]";
}

main .footnotes {
  font-size: 12px;
  color: #9198a1;
  border-top: 1px solid #3d444d;
}

main .footnotes ol {
  padding-left: 1rem;
}

main .footnotes ol ul {
  display: inline-block;
  padding-left: 1rem;
  margin-top: 1rem;
}

main .footnotes li {
  position: relative;
}

main .footnotes li:target::before {
  position: absolute;
  top: calc(0.5rem * -1);
  right: calc(0.5rem * -1);
  bottom: calc(0.5rem * -1);
  left: calc(1.5rem * -1);
  pointer-events: none;
  content: "";
  border: 2px solid #1f6feb;
  border-radius: 6px;
}

main .footnotes li:target {
  color: #f0f6fc;
}

main .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

main .pl-c {
  color: #9198a1;
}

main .pl-c1,
main .pl-s .pl-v {
  color: #79c0ff;
}

main .pl-e,
main .pl-en {
  color: #d2a8ff;
}

main .pl-smi,
main .pl-s .pl-s1 {
  color: #f0f6fc;
}

main .pl-ent {
  color: #7ee787;
}

main .pl-k {
  color: #ff7b72;
}

main .pl-s,
main .pl-pds,
main .pl-s .pl-pse .pl-s1,
main .pl-sr,
main .pl-sr .pl-cce,
main .pl-sr .pl-sre,
main .pl-sr .pl-sra {
  color: #a5d6ff;
}

main .pl-v,
main .pl-smw {
  color: #ffa657;
}

main .pl-bu {
  color: #f85149;
}

main .pl-ii {
  color: #f0f6fc;
  background-color: #8e1519;
}

main .pl-c2 {
  color: #f0f6fc;
  background-color: #b62324;
}

main .pl-sr .pl-cce {
  font-weight: bold;
  color: #7ee787;
}

main .pl-ml {
  color: #f2cc60;
}

main .pl-mh,
main .pl-mh .pl-en,
main .pl-ms {
  font-weight: bold;
  color: #1f6feb;
}

main .pl-mi {
  font-style: italic;
  color: #f0f6fc;
}

main .pl-mb {
  font-weight: bold;
  color: #f0f6fc;
}

main .pl-md {
  color: #ffdcd7;
  background-color: #67060c;
}

main .pl-mi1 {
  color: #aff5b4;
  background-color: #033a16;
}

main .pl-mc {
  color: #ffdfb6;
  background-color: #5a1e02;
}

main .pl-mi2 {
  color: #f0f6fc;
  background-color: #1158c7;
}

main .pl-mdr {
  font-weight: bold;
  color: #d2a8ff;
}

main .pl-ba {
  color: #9198a1;
}

main .pl-sg {
  color: #3d444d;
}

main .pl-corl {
  text-decoration: underline;
  color: #a5d6ff;
}

main [role="button"]:focus:not(:focus-visible),
main [role="tabpanel"][tabindex="0"]:focus:not(:focus-visible),
main button:focus:not(:focus-visible),
main summary:focus:not(:focus-visible),
main a:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

main [tabindex="0"]:focus:not(:focus-visible),
main details-dialog:focus:not(:focus-visible) {
  outline: none;
}

main g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

main g-emoji img {
  width: 1em;
  height: 1em;
}

main .task-list-item {
  list-style-type: none;
}

main .task-list-item label {
  font-weight: 400;
}

main .task-list-item.enabled label {
  cursor: pointer;
}

main .task-list-item + .task-list-item {
  margin-top: 0.25rem;
}

main .task-list-item .handle {
  display: none;
}

main .task-list-item-checkbox {
  margin: 0 0.2em 0.25em -1.4em;
  vertical-align: middle;
}

main ul:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

main ol:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em 0.25em 0.2em;
}

main .contains-task-list:hover .task-list-item-convert-container,
main .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

main ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

main .markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: inherit;
  border-left: 0.25em solid #3d444d;
}

main .markdown-alert > :first-child {
  margin-top: 0;
}

main .markdown-alert > :last-child {
  margin-bottom: 0;
}

main .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: 500;
  align-items: center;
  line-height: 1;
}

main .markdown-alert.markdown-alert-note {
  border-left-color: #1f6feb;
}

main .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: #4493f8;
}

main .markdown-alert.markdown-alert-important {
  border-left-color: #8957e5;
}

main .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: #ab7df8;
}

main .markdown-alert.markdown-alert-warning {
  border-left-color: #9e6a03;
}

main .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: #d29922;
}

main .markdown-alert.markdown-alert-tip {
  border-left-color: #238636;
}

main .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: #3fb950;
}

main .markdown-alert.markdown-alert-caution {
  border-left-color: #da3633;
}

main .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: #f85149;
}

main > *:first-child > .heading-element:first-child {
  margin-top: 0 !important;
}
