body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
}

img {
  height: auto;
  width: 100%;
}

#wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  width: 100%;
}

main {
  width: calc(100% - 300px);
}

aside {
  display: flex;
  flex-direction: column;
  width: 300px;
}

aside > div {
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile .avatar {
  height: 30%;
  margin: auto;
  width: 30%;
}

.profile .avatar > img {
  border-radius: 50%;
}

.profile .text {
  padding: 0 0 0 10px;
  width: 70%;
}

.profile .text p {
  margin: 10px;
}

.profile .text .name {
  font-weight: bold;
}

.profile .text .description {
  font-size: 0.9em;
}

.profile .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

.profile .social > a {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.profile .social > a > img {
  width: 40px;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  width: 100%;
}

@media all and (max-width: 1024px) {
  header,
  main,
  aside,
  footer {
    width: 100%;
  }

  aside {
    flex-direction: row;
  }

  aside > div {
    width: 50%;
  }
}

@media all and (max-width: 480px) {
  aside {
    flex-direction: column;
  }
  aside > div {
    width: 100%;
  }
}

a {
  color: #00e;
  text-decoration: none;
}
