/* Common */
body {
  background-color: #f1f8f7;
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
}

main {
  margin: 0 1rem 0 0;
}

img {
  height: auto;
  width: 100%;
}

#wrap {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
  padding: 1rem;
}

/* header */
header#top {
  align-items: center;
  background-color: #5690c7;
  background-image: url(../../header.jpg);
  background-position: 80% 65%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: #ff6633 solid 5px;
  color: #f1f8f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 250px;
  width: 100%;
}

header#top .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  max-width: 1280px;
  padding: 1em;
  text-align: center;
  width: 100%;
}

header#top .container h1 {
  font-size: 3em;
  text-shadow: 1px 1px #5690c7;
}

header#top ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: auto;
  max-width: 640px;
  padding: 0;
}

header#top ul.menu li {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 2px solid #9d9287;
  flex-grow: 1;
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0;
  position: relative;
}

header#top ul.menu li:last-child {
  border-right: 2px solid #9d9287;
}

header#top ul.menu li a {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

header#top ul.menu li a,
header#top ul.menu li a:visited {
  color: #f1f8f7;
}

header#top ul.menu li a:hover {
  background-color: #ff6633;
}

/* main */
main {
  width: calc(100% - 300px - 1rem);
}

/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  width: 300px;
}

aside > div {
  width: 100%;
}

.widget {
  border-radius: 10px;
  padding: 10px;
}

/* Widget: Profile */
.profile {
  border: #222 solid 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile .avatar {
  height: 30%;
  margin: auto;
  width: 30%;
}

.profile .avatar > img {
  border-radius: 50%;
}

.profile .text {
  padding: 0 0 0 10px;
  width: 70%;
}

.profile .text p {
  margin: 10px 0;
}

.profile .text .name {
  font-weight: bold;
}

.profile .text .description {
  font-size: 0.9em;
}

/* Widget: Social links */
.profile .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

.profile .social > a {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.profile .social > a > img {
  width: 40px;
}

/* Widget: Categories */
.categories ul {
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories ul li {
  border: #333 solid 1px;
  line-height: 3em;
  margin: 0;
  position: relative;
}

.categories ul li a {
  align-items: center;
  color: #333;
  display: flex;
  gap: 5px;
  padding: 0 5px;
}

.categories ul li a:hover {
  background-color: #ff6633;
  color: #fff;
}

.categories ul li a img {
  width: 2em;
}

.categories ul li a .name {
  font-size: 1.3em;
  font-weight: bold;
}

.categories ul li a .description {
  font-size: 0.8em;
}

/* Widget: Tags */
.tags ul {
  color: #333;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags ul li {
  border: #333 solid 1px;
  margin: 0;
  position: relative;
}

.tags ul li a {
  align-items: center;
  color: #333;
  display: flex;
  padding: 3px 3px 3px 21px;
}

.tags ul li a::before {
  background-image: url(../svg/tabler-icons/tag.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  height: 15px;
  left: 3px;
  margin: auto;
  position: absolute;
  width: 15px;
}

.tags ul li a:hover {
  background-color: #ff6633;
  color: #fff;
}

/* footer */
footer {
  align-items: center;
  background-color: #3e622a;
  border-top: #ff6633 solid 5px;
  color: #f1f8f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  max-width: 1280px;
  padding: 1em;
}

footer .container p {
  font-size: 0.9em;
  margin: 0;
  text-align: center;
}

footer .container a,
footer .container a:visited {
  color: #fff;
}

footer .container a,
footer .container a:hover {
  text-decoration: underline;
}

/* Responsive */
@media all and (max-width: 1024px) {
  header,
  main,
  aside {
    width: 100%;
  }

  main {
    margin: 0;
  }

  aside {
    flex-direction: row-reverse;
  }

  aside > div {
    width: 50%;
  }
}

@media all and (max-width: 480px) {
  aside {
    flex-direction: column;
  }
  aside > div {
    width: 100%;
  }
}

a {
  color: #00e;
  text-decoration: none;
}
