/* Brand colors */
:root {
  --facebook: #1877f2;
  --feedly: #2bb24c;
  --github: #0e0c0d;
  --hatena: #008fde;
  --instagram: #e1306c;
  --line: #06c755;
  --twitter: #14171a;
  --youtube: #f00;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --github: #fafafa;
    --twitter: #f5f8fa;
  }
} */

/* Common */
body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #222;
  background-color: #f1f8f7;
}

#wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1280px;
  padding: 1rem;
  margin: auto;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
}

/* Override github-markdown-css */
main {
  width: calc(100% - 300px - 1rem);
  margin: 0 1rem 0 0;
  color: inherit;
  background-color: initial;
}

main kbd {
  color: inherit;
  background-color: inherit;
}

main table tr {
  background-color: inherit;
}

main table tr:nth-child(2n) {
  background-color: #f1f8f7;
}

main .footnotes li:target {
  color: inherit;
}

/* header */
header#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  color: #f1f8f7;
  background-color: #5690c7;
  background-image: url("../../header.jpg");
  background-repeat: no-repeat;
  background-position: 80% 65%;
  background-size: cover;
  border-bottom: #f63 solid 5px;
}

header#top .container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 1280px;
  padding: 1em;
  text-align: center;
}

header#top .container h1 {
  font-size: 3em;
  text-shadow: 1px 1px #5690c7;
}

header#top ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 640px;
  padding: 0;
  margin: auto;
  list-style: none;
}

header#top ul.menu li {
  position: relative;
  flex-grow: 1;
  margin: 0;
  font-size: 1.5rem;
  line-height: 3rem;
  background-color: rgb(0 0 0 / 50%);
  border-left: 2px solid #9d9287;
}

header#top ul.menu li:last-child {
  border-right: 2px solid #9d9287;
}

a {
  color: #00e;
  text-decoration: none;
}

header#top ul.menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

header#top ul.menu li a,
header#top ul.menu li a:visited {
  color: #f1f8f7;
}

header#top ul.menu li a:hover {
  background-color: #f63;
}

/* Article metadata */
article .metadata {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 0 15px 0;
  color: #333;
}

article .metadata a {
  text-decoration: none;
}

article .categories ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  list-style: none;
}

article .categories ul li {
  position: relative;
  margin: 0;
  background-color: #f1f8f7;
}

article .categories ul li a {
  display: flex;
  align-items: center;
  padding: 3px 5px 3px 21px;
  color: #333;
}

article .categories ul li a::before {
  position: absolute;
  left: 3px;
  width: 15px;
  height: 15px;
  margin: auto;
  content: "";
  background-image: url("../svg/tabler-icons/folder.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

article time {
  position: relative;
  margin: 0;
}

article time span {
  display: flex;
  align-items: center;
  padding: 3px 0 3px 21px;
  font-size: 0.9em;
}

article time span::before {
  position: absolute;
  left: 3px;
  width: 15px;
  height: 15px;
  margin: auto;
  content: "";
  background-image: url("../svg/tabler-icons/calendar-month.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* Sidebar */
aside {
  display: flex;
  flex-direction: column;
  width: 300px;
}

aside > div {
  width: 100%;
}

.widget {
  padding: 10px;
  margin: 0 0 15px;
  border: #9d9287 solid 2px;
  border-radius: 8px;
}

.widget .title {
  font-size: 1.3em;
  padding: 0 0 5px 0;
}

/* Widget: Profile */
.profile {
  display: flex;
  flex-flow: row wrap;
}

.profile .avatar {
  width: 30%;
  height: 30%;
  margin: auto;
}

.profile .avatar > img {
  border-radius: 50%;
}

.profile .text {
  width: 70%;
  padding: 0 0 0 10px;
}

.profile .text p {
  margin: 10px 0;
}

.profile .text .name {
  font-weight: bold;
}

.profile .text .description {
  font-size: 0.9em;
}

/* Widget: Social links */
.social {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

.social > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.social > a:hover {
  background-color: #f63;
}

.social > a:hover > span.icon {
  background-color: #fff;
}

.social > a > span.icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  content: "";
  mask-size: cover;
}

.icon.website {
  background-color: #295782;
  mask: url("../svg/tabler-icons/world.svg");
}

.icon.email {
  background-color: #649f44;
  mask: url("../svg/tabler-icons/mail.svg");
}

.icon.github {
  background-color: var(--github);
  mask: url("../svg/tabler-icons/brand-github.svg");
}

.icon.twitter {
  background-color: var(--twitter);
  mask: url("../svg/tabler-icons/brand-x.svg");
}

.icon.instagram {
  background-color: var(--instagram);
  mask: url("../svg/tabler-icons/brand-instagram.svg");
}

.icon.facebook {
  background-color: var(--facebook);
  mask: url("../svg/tabler-icons/brand-facebook.svg");
}

.icon.youtube {
  background-color: var(--youtube);
  mask: url("../svg/tabler-icons/brand-youtube.svg");
}

/* Widget: Categories */
.widget.categories ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
  color: #333;
  list-style: none;
}

.widget.categories ul li {
  position: relative;
  margin: 0;
  line-height: 2.5em;
  background-color: #f1f8f7;
}

.widget.categories ul li a {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 0 8px;
  color: #333;
}

.categories ul li a:hover {
  color: #fff;
  background-color: #f63;
}

.widget.categories ul li a img {
  width: 2em;
}

.widget.categories ul li a .name {
  font-size: 1.2em;
  font-weight: bold;
}

.widget.categories ul li a .description {
  font-size: 0.8em;
}

/* Widget: Tags */
.tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: #333;
  list-style: none;
}

.tags ul li {
  position: relative;
  margin: 0;
  background-color: #f1f8f7;
}

.tags ul li a {
  display: flex;
  align-items: center;
  padding: 3px 5px 3px 21px;
  color: #333;
}

.tags ul li a::before {
  position: absolute;
  left: 3px;
  width: 15px;
  height: 15px;
  margin: auto;
  content: "";
  background-image: url("../svg/tabler-icons/tag.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.tags ul li a:hover {
  color: #fff;
  background-color: #f63;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f8f7;
  background-color: #3e622a;
  border-top: #f63 solid 5px;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 1280px;
  height: 100%;
  padding: 1em;
}

footer .container p {
  margin: 0;
  font-size: 0.9em;
  text-align: center;
}

footer .container a,
footer .container a:visited {
  color: #fff;
}

footer .container a,
footer .container a:hover {
  text-decoration: underline;
}

/* 404 Not Found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found img {
  width: 50%;
}

/* Responsive */
@media all and (width <= 1024px) {
  header,
  main,
  aside {
    width: 100%;
  }

  main {
    margin: 0 0 1rem;
  }

  aside {
    flex-direction: row-reverse;
    gap: 15px;
  }
}

@media all and (width <= 480px) {
  aside {
    flex-direction: column;
    gap: 0;
  }

  aside > div {
    width: 100%;
  }
}
